<%= @patient.name%>

<%@patient.appointments.each do |appo|%>
 <li><%=appo.appointment_datetime.strftime("%B %-d, %Y at %k:%M")%></li>

 <%=link_to appo.doctor.name, doctor_path(appo.doctor)%>

 <%end%>
